<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ulisboa.tecnico.cmov.airdesk" >

    <application
        android:name="pt.ulisboa.tecnico.cmov.airdesk.ApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShowFileActivity"
            android:parentActivityName=".MainMenu"
            android:label="@string/temp"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu"/>
        </activity>

        <activity
            android:name=".EditFileActivity"
            android:parentActivityName=".ShowFileActivity"
            android:label="@string/temp" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShowFileActivity"/>
        </activity>

        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:launchMode="singleTop">
        </activity>
    </application>

</manifest>
